html{
    background-color: #C3CDBF;
    color : black;
    font-family: "Comfortaa"
}

#summary{
    color: black
}

.sec{
    background-color:#C3CDBF;
    padding : 25px;
    margin : 25px;
    border : 0.1em solid;
    border-color: #6e7f62;
    border-radius: 3%;
}

h1{
    background-color: #6e7f62;
    font-family: sans-serif;
    text-align: center;
    text-decoration: aqua;
}

h2 {
    color : black;
    background-color: gainsboro;
    text-align: center;
}

img{
    max-height: 300px;
    width: 200px;
}